<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ride Sharing And Co2 cal</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/script.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body class="scrolling">
  <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="https://smartinternz.com/sb_asserts/images/logo/smartbridge.png"
            width="110" height="45"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ride_sharing.html">Ride Sharing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="co2calculator.html">Co2 Emission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="donate" href="/logout">Log-out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="fun();">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section>
    <div class="container">
      <div class="row ">
        <div class="col text-danger"><img src="https://webstockreview.net/images/gas-clipart-co2-emission-2.png"
            height="40px" width="40px" alt="" srcset=""> Co2e_pp : {{pp}} </div>
        <div class="col text-danger"><img src="https://webstockreview.net/images/gas-clipart-co2-emission-2.png"
            height="40px" width="40px" alt="" srcset=""> Co2e : {{e}} </div>
      </div>
    </div>
  </section>



  <section id="firstcard">
    <div class="container-xl" style="margin-top: 12px;">
      <div class="row p-3">
        <div class="col-lg-4">

          <!-- CAR CO2 EMISSION WITH MODAL 66-->
          <div class="card  car" style="width: 18rem;">
            <img class="card-img-top"
              src="https://img.freepik.com/free-vector/car-driving-concept-illustration_114360-7981.jpg?w=900&t=st=1673161840~exp=1673162440~hmac=244576262f725d2e484c50bb16657fbf79e08faa4b6259ccdf3932c6aeb7c2b7"
              alt="car image">
            <div class="card-body">
              <h5 class="card-title">CARS CO2 EMISSION</h5>
              <p class="card-text">Car co2 Emission content based on Distance And Fuel.</p>
              <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Car Co2 Emission</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- CAR CO2 ROUTE 1 -->
                      <form action="/co2calculator1" method="post">

                        <select class="form-select" name="VehicleType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose car Type</option>
                          <option value="car">car</option>
                          <option value="car-small">car-small</option>
                          <option value="car-large">car-large</option>
                        </select>
                        <select class="form-select" name="VehicleFuelType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose car fuel Type</option>
                          <option value="diesel">diesel</option>
                          <option value="gasoline">gasoline</option>
                          <option value="electricity">electricity</option>
                          <option value="bio-diesel">bio-diesel</option>
                          <option value="fossile-gas">fossile-gas</option>
                        </select>
                        <div class="form-floating mb-3">
                          <input type="number" name="Distance" class="form-control" id="floatingInput"
                            placeholder="Distance">
                          <label for="floatingInput">Distance</label>
                        </div>
                        <div class="form-floating">
                          <input type="number" name="NumberOfPeople" class="form-control" id="floatingInput"
                            placeholder="People">
                          <label for="floatingInput">People</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary" data-bs-toggle="modal" style="margin-top: 7vh;" href="#exampleModalToggle"
                role="button"> For Car</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <!-- BUS CO2 EMISSION WITH MODAL 123-->
          <div class="card  bus" style="width: 18rem;">
            <img class="card-img-top"
              src="https://img.freepik.com/free-vector/bus-driver-concept-illustration_114360-6330.jpg?w=900&t=st=1673161878~exp=1673162478~hmac=530dae96d9f17e2ba25fd58c11c457f2c723abe8af8a01c1fd3959835c939cac"
              alt="car image">
            <div class="card-body">
              <h5 class="card-title">BUS AND MINI-VAN CO2 EMISSION</h5>
              <p class="card-text">Bus and Mini-van co2 Emission content based on Distance And Fuel.</p>

              <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Bus Co2 Emission</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- BUS CO2 ROUTE 1 -->
                      <form action="/co2calculator2" method="post">
                        <select class="form-select" name="VehicleType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Bus Type</option>
                          <option value="bus">Bus</option>
                        </select>
                        <select class="form-select" name="VehicleFuelType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Bus fuel Type</option>
                          <option value="diesel">diesel</option>
                          <option value="bio-diesel">bio-diesel</option>
                        </select>
                        <div class="form-floating mb-3">
                          <input type="number" name="Distance" class="form-control" id="floatingInput"
                            placeholder="Distance">
                          <label for="floatingInput">Distance</label>
                        </div>
                        <div class="form-floating">
                          <input type="number" name="NumberOfPeople" class="form-control" id="floatingInput"
                            placeholder="People">
                          <label for="floatingInput">People</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2" role="button">For Bus</a>

              <div class="modal fade" id="exampleModalToggle1" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Mini van Co2 Emission</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- MINI VAN CO2 ROUTE 2 -->
                      <form action="/co2calculator3" method="post">
                        <select class="form-select" name="VehicleType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Mini-van Type</option>
                          <option value="minivan">Mini-van</option>
                        </select>
                        <select class="form-select" name="VehicleFuelType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Mini-van fuel Type</option>
                          <option value="diesel">diesel</option>
                          <option value="gasoline">gasoline</option>
                          <option value="electricity">electricity</option>
                          <option value="bio-diesel">bio-diesel</option>
                          <option value="fossile-gas">fossile-gas</option>
                        </select>
                        <div class="form-floating mb-3">
                          <input type="number" name="Distance" class="form-control" id="floatingInput"
                            placeholder="Distance">
                          <label for="floatingInput">Distance</label>
                        </div>
                        <div class="form-floating">
                          <input type="number" name="NumberOfPeople" class="form-control" id="floatingInput"
                            placeholder="People">
                          <label for="floatingInput">People</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle1" role="button">For
                Mini-van</a>
            </div>

          </div>
        </div>



        <div class="col-lg-4">

          <!-- BIKE CO2 EMISSION WITH MODAL 278-->
          <div class="card bike" style="width: 18rem;">
            <img class="card-img-top" src="/static/img/hand-drawn-vintage-motorcycle-illustration_23-2149432256.jpeg"
              bike image">
            <div class="card-body">
              <h5 class="card-title">BIKE CO2 EMISSION</h5>
              <p class="card-text">Bike co2 Emission content based on Distance And Fuel.</p>
              <div class="modal fade" id="exampleModalToggleBike" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Bike Co2 Emission</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- BIKE CO2 ROUTE 4 -->
                      <form action="/co2calculator4" method="post">
                        <select class="form-select" name="VehicleType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Bike Type</option>
                          <option value="motorhome">Bike</option>
                        </select>
                        <select class="form-select" name="VehicleFuelType" aria-label="Default select example"
                          style="height: 10vh;">
                          <option selected>Choose Bike fuel Type</option>
                          <option value="diesel">diesel</option>
                          <option value="gasoline">gasoline</option>
                          <option value="electricity">electricity</option>
                          <option value="bio-diesel">bio-diesel</option>
                          <option value="fossile-gas">fossile-gas</option>
                        </select>
                        <div class="form-floating mb-3">
                          <input type="number" name="Distance" class="form-control" id="floatingInput"
                            placeholder="Distance">
                          <label for="floatingInput">Distance</label>
                        </div>
                        <div class="form-floating">
                          <input type="number" name="NumberOfPeople" class="form-control" id="floatingInput"
                            placeholder="People">
                          <label for="floatingInput">People</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary" data-bs-toggle="modal" style="margin-top: 7vh;" href="#exampleModalToggleBike" role="button">bike
                co2</a>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section>
</body>

</html>